@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// *************************** Barra superior ***************************//
.top_navbar{
  margin-bottom: 0;
}
body{
  margin-top: 50px;
}

//*************************** Barra lateral ****************************//

$width_sidebar: 250px;

.main_container{
  margin-left: $width_sidebar;
  border: 3px solid red;
}
.side_navbar{
  width: $width_sidebar;
  height: 100%;
  position: fixed;
  ul{
    width: 100%;
    li{
      width: 100%;
    }
  }
}
